.es-body{
    background-color: #3763ae;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.es-top-cont{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.es-top-card-cont{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.es-top-card{
    background-color: white;
    width: 20%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}
.es-top-card:hover{
    background-color: #f0f0f0;
    transition: 0.3s;
    margin-bottom: 10px;
}
.es-top-card-left{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.es-top-card-left p{
    margin: 0;
    
}
.es-top-card-value{
    font-size: 20pt;
    padding-bottom: 8px;
    color: black;
}
.es-top-card-title{
    color: #575757;
    font-size: 11pt;
}
.es-top-card-icon{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.es-main-cont{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.es-main-table-cont{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 90%;
    height: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
    border-radius: 20px;
    border: 2px solid white;
}
.es-table{
    background-color: white;
    width: 100%;
}
.es-table thead{
    background-color: #3763ae;
    color: white;
}
.es-table tbody{
    background-color: #f0f0f0;
}
.es-table td, .es-table th{
    text-align: center;
    padding: 10px;
    font-weight: 100;
}